@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.caixa {
    background-color: #272C34;
    width: 400px;
    height: 400px;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paisagem {
    background-color: #75CFEA;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: ;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chao {
    width: 200px;
    height: 100px;
    background: #F0DE75;
    transform: translateY(130%);
}

.piramide {
    width: 90px;
    height: 90px;
    border-top: 90px solid rgb(216, 216, 216);
    border-left: 90px solid white;
    rotate: 45deg;

    position: absolute;
    top: 43%;
    left: 30%;
}

.sombra {
    position: absolute;
    top: 65%;
    left: 21%;

    width: 125px;
    height: 125px;
    border-top: 40px solid rgba(0, 0, 0, 0.418);
    border-right: 0px solid rgb(182, 182, 182);
    border-left: 150px solid white;
    border-bottom: 0px solid wheat;

    z-index: 3;
}