.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    filter: contrast(25);
    cursor: pointer;
}

.bola {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    background-color: white;
    filter: blur(15px);
    position: relative;
}

.vermelho {
    background-color: red;
}

.bolha {
    height: 50px;
    width: 50px;
    position: absolute;
}

/* Bolhas Maiores */
.b1::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    filter: blur(5px);
    background-color: white;
    border-radius: 50%;
    transform-origin: 65% 65%;
    animation: bola-gira 3s infinite .2s;
}

.b2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    filter: blur(5px);
    background-color: white;
    border-radius: 50%;
    transform-origin: 65% 67%;
    animation: bola-gira 3.2s infinite .4s;
}

.b3::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    filter: blur(5px);
    background-color: white;
    border-radius: 50%;
    transform-origin: 40% 65%;
    animation: bola-gira 3.4s infinite .6s;
}

.b4::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    filter: blur(5px);
    background-color: white;
    border-radius: 50%;
    transform-origin: 30% 60%;
    animation: bola-gira 3.6s infinite .8s;
}

.b5::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    filter: blur(5px);
    background-color: white;
    border-radius: 50%;
    transform-origin: 30% 40%;
    animation: bola-gira 3.8s infinite 1s;
}

.b6::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    filter: blur(5px);
    background-color: white;
    border-radius: 50%;
    transform-origin: 40% 35%;
    animation: bola-gira 4s infinite 1.2s;
}

.b7::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    filter: blur(5px);
    background-color: white;
    border-radius: 50%;
    transform-origin: 60% 35%;
    animation: bola-gira 4.2s infinite 1.4s;
}

.b8::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    filter: blur(5px);
    background-color: white;
    border-radius: 50%;
    transform-origin: 70% 35%;
    animation: bola-gira 4.4s infinite 1.6s;
}

/* Bolhas menores */
.bolinha {
    position: absolute;
    height: 10px;
    width: 10px;
}

.bn1::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    filter: blur(3px);
    transform-origin: 50px -50px;
    animation: bola-gira 3s infinite .2s ease-in-out;
}

.bn2::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    filter: blur(3px);
    transform-origin: -50px -50px;
    animation: bola-gira 3.2s infinite .4s ease-in-out;
}

.bn3::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    filter: blur(3px);
    transform-origin: -50px -50px;
    animation: bola-gira 3.4s infinite .6s;
}

.bn4::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: white;
    filter: blur(3px);
    transform-origin: 20px 30px;
    animation: bola-gira 3.6s infinite .8s ease-in-out;
}

.bn5::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    filter: blur(3px);
    transform-origin: 50px 50px;
    animation: bola-gira 3.8s infinite 1s ease-in-out;
}

.bn6::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: white;
    filter: blur(3px);
    transform-origin: -50px 50px;
    animation: bola-gira 4s infinite 1.2s ease-in-out reverse;
}

.bn7::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    filter: blur(3px);
    transform-origin: -50px -50px;
    animation: bola-gira 4.2s infinite 1.4s ease-in-out reverse;
}

.bn8::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    filter: blur(3px);
    transform-origin: 20px -30px;
    animation: bola-gira 4.4s infinite 1.6s ease-in-out reverse;
}

.bn9::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    filter: blur(3px);
    transform-origin: 50px 50px;
    animation: bola-gira 4.6s infinite 1.8s ease-in-out reverse;
}

.bn10::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    filter: blur(3px);
    transform-origin: 50px 50px;
    animation: bola-gira 4.8s infinite 2s ease-in-out reverse;
}

@keyframes bola-gira {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}