@keyframes animacao-de-entrada {
    0% {translate: 0px 20px; opacity: 0;}
    100%  {translate: 0px 0px; opacity: 1;}
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #264057;
    position: relative;
    overflow: hidden;
}

.painel {
    height: 300px;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    z-index: 2;
    position: absolute;
    transition: .4s ease-in-out;
}

.painel-direita {
    translate: 50%;
}

.painel .header {
    background-color: #5F98CD;
    height: 60px;
    width: 100%;
    color: white;
    padding: 0px 15px 0px 15px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.painel .titulo {
    font-weight: bold;
    text-shadow: none;
}

.bt-menu {
    height: 20px;
    width: 35px;
    position: relative;
    cursor: pointer;
    transition: .5s;
    visibility: visible;
    opacity: 1;
}

.bt-menu .linha1 {
    height: 4px;
    width: 70%;
    background-color: #c5e3ff;
    border-radius: 5px;
    position: absolute;
    top: 13%;
    transition: .3s;
}

.bt-menu .linha2 {
    height: 4px;
    width: 100%;
    background-color: #c5e3ff;
    border-radius: 5px;
    bottom: 0;
    position: absolute;
    transition: .3s;
}

.bt-menu .bolinha {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #c5e3ff;
    position: absolute;
    top: 0;
    right: 0;
    transition: .3s;
}

.bt-menu:hover .linha1, .bt-menu:hover .linha2, .bt-menu:hover .bolinha {
    background-color: white;
}

.desativo {
    width: 230px;
    height: 35px;
    position: absolute;
    left: 4%;
    border-radius: 20px;
    border: none;
    padding: 7px 10px 7px 10px;
    outline: none;
    translate: 20px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.ativo {
    translate: 0px;
    visibility: visible;
    opacity: 1;
}

.procurar-bt {
    cursor: pointer;
    color: #c5e3ff;
    font-size: 100px;
    transition: .3s;
}

.procurar-bt:hover {
    color: white;
}

.notificacoes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 240px;
    width: 100%;
}

.linha {
    background-color: #EBEBEB;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 26px;
    top: 0;
}

.notificacao {
    display: flex;
    flex-direction: column;
    margin-left: 14%;
    padding-right: 10px;
    position: relative;
    font-size: .9em;
    opacity: 0;

    animation: animacao-de-entrada .6s .4s forwards;
}

.notificacao:hover {
    color: #5F98CD;
    cursor: pointer;
}

.circulo {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: 2px solid #5F98CD;
    position: absolute;
    left: -20px;
    background-color: white;
    box-shadow: 0 0 0 3px white;
}

.menu {
    background-color: #43627D;
    color: #93B2CD;
    height: 270px;
    width: 270px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    transition: .4s ease-in-out;
}

.menu-esquerda {
    translate: -10%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

li {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

li span {
    margin-right: 10px;
}

li:hover {
    background-color: #32485c;
    color: white;
}