.frame {
    background-image: linear-gradient(45deg, #EEBD6C, #CA7D4E);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #786450;
}

.info {
    height: 300px;
    width: 320px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.295);

    display: flex;
    overflow: hidden;
}

.perfil {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.imagem {
    border-radius: 50%;
    position: relative;
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arco-externo {
    width: 92px;
    height: 92px;
    border: 1px solid #786450;
    border-radius: 50%;
    border-right: 2px solid transparent;
    position: absolute;
    z-index: 2;
    transition: rotate 1.5s;
}

.arco-interno {
    width: 86px;
    height: 86px;
    border: 1px solid #786450;
    border-radius: 50%;
    border-left: 2px solid transparent;
    position: absolute;
    transition: rotate 1.5s;
}

.imagem:hover .arco-externo{
    rotate: -360deg;
}

.imagem:hover .arco-interno {
    rotate: 360deg;
}

img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.nome {
    font-weight: bold;
    margin-top: 10px;
}

.cargo {
    font-size: .8em;
    margin-bottom: 30px
}

button {
    margin: 5px;
    padding: 5px;
    width: 110px;
    border-radius: 20px;
    color: #786450;
    border: 1px solid #786450;
    background-color: transparent;
    transition: .2s;
    cursor: pointer;
}

button:hover {
    background-color: #786450;
    color: white;
}

.dados {
    width: 40%;
    height: 100%;
}

.numero {
    font-weight: bold;
}

.posts, .likes, .seguidores {
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5E8DF;
    margin-bottom: 1%;
    transition: .3s;
    cursor: pointer;
}

.posts:hover, .likes:hover, .seguidores:hover {
    background-color: #e6d4c7;
}